* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.slider-wrap {
    position: relative;
    width: 360px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.slider-content {
    height: 100%;
    position: relative;
}
.slide-left,
.slide-right {
    position: absolute;
    background: rgba(255, 255, 255, .7);
    z-index: 300;
}
.slide-left:hover,
.slide-right:hover {
    cursor: pointer;
} 
.slide-left {
    top: 50%;
    left: 0;
    padding: .2em .2em .2em 5%;
}
.slide-right {
    top: 50%;
    right: 0;
    padding: .2em 5% .2em .2em;
}

.slide {
    height: 100%;
    position: relative;
    z-index: 100;
}
.active-slide {
    z-index: 200;
}
.slide1 {
    background: url("img/elmo_01.jpg") no-repeat;
}
.slide2 {
    background: url("img/elmo_02.jpg") no-repeat;
}
.slide3 {
    background: url("img/elmo_03.jpg") no-repeat;
}

.slide p {
    display: inline-block;
    margin: 50% 0 0;
    padding: .5em;
    background: rgba(255, 255, 255, .7);
}

