* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.slider-wrap,
.slider2-wrap {
    position: relative;
    width: 360px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.slider-content {
    height: 100%;
}
.slide-left,
.slide-right {
    position: absolute;
    background: rgba(255, 255, 255, .7);
}
.slide-left:hover,
.slide-right:hover {
    cursor: pointer;
} 
.slide-left {
    top: 50%;
    left: 0;
    padding: .2em .2em .2em 5%;
}
.slide-right {
    top: 50%;
    right: 0;
    padding: .2em 5% .2em .2em;
}
.slider,
.slider2 {
    width: 300%;
    height: 100%;
}
.slider2 {
    -webkit-transition: margin .6s ease-in-out;
       -moz-transition: margin .6s ease-in-out;
         -o-transition: margin .6s ease-in-out;
            transition: margin .6s ease-in-out;
}
.slide {
    width: 360px;
    height: 100%;
    float: left;
}
.slide1 {
    background: url("img/elmo_01.jpg") no-repeat;
}
.slide2 {
    background: url("img/elmo_02.jpg") no-repeat;
}
.slide3 {
    background: url("img/elmo_03.jpg") no-repeat;
}


.slide p {
    display: inline-block;
    margin: 50% 0 0;
    padding: .5em;
    background: rgba(255, 255, 255, .7);
}

/* [ slider3 ] */
.slider3 {
    position: relative;
}
.slider3 .slider-content {
    position: relative;
    width: 360px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}
.slider3 .slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.slider3 .slide-left {
    top: 50%;
    left: 50%;
    margin-left: -290px;
    padding: .2em .2em .2em 5%;
}
.slider3 .slide-right {
    top: 50%;
    right: 50%;
    margin-right: -290px;
    padding: .2em 5% .2em .2em;
}
.slider3 .active-slide {
    opacity: 1;
    z-index: 100;
}


